body{

    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Spectral', serif;
    margin: 0;
}
.header{
    background-image: url(donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}
    
.header{
    text-align: center;
    color:white;
    padding: 250px 300px;

}
.header h1{ 
    font-size: 50px;
}

.link-button{
    text-decoration: none;
    background-color:rgb(219, 101, 80);
    color: white;
    font: 700;
    padding: 10px 25px;
    border-radius: 10px;

}
.today-plan{
    text-align: center;
}
.help-flood{
    text-align: center;
}  
hr{
    width: 70%;
}
#donation{
    
    
    margin-left: 590px;
}

#taka{
    display: flex;
    justify-content: space-evenly;
}
.fund{

    background-color: rgb(238, 232, 232);
    padding: 30px;
    border-radius: 15px;

}
section{
    display: flex;
    justify-content: space-between;
}
#aid{
    width: 300px;
    height: 350px;
    border-left: 15px;
    border-right: 15px;
    border-radius: 20px;
    padding: 20px;
    margin-left:100px;
    background-color: bisque;

}

#food{
    width: 300px;
    height: 350px;
    border-left: 15px;
    border-right: 15px;
    border-radius: 20px;
    padding: 20px;
    margin-left:15px;
    background-color: pink
}

#shelter{
    width: 300px;
    height: 350px;
    border-left: 15px;
    border-right: 15px;
    border-radius: 20px;
    padding: 20px;
    margin-right:100px;
    margin-left: 15px;
    background-color:aliceblue

}

form {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    width: 700px;
    padding: 20px 30px;
    margin-left: 300px;
    justify-content: space-between;

}
footer{
    background-color: black;
    color: white;
    height: 125px;
    text-align: center;
    
}

   
    
    